<div id="chat-container">
  <div id="chat-window">
    <div class="container" #container>
    </div>
    <div id="message-box"></div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <div id="input-container">
          <label>
            <input formControlName="messageInp" placeholder="Enter you message here..." class="message-input">
          </label>
        </div>
        <button type="submit" class="send-button">Send</button>
    </form>
    </div>
</div>
<router-outlet></router-outlet>
