body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 70vh;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  overflow-y: auto;
}

#chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#chat-window {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

#message-box {
  display: flex;
  margin-bottom: 10px;
}

.message-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

.send-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

#input-container {
  float: left;
  width: 100%;
}

/* Media Queries */

/* Small devices (e.g., mobile phones) */
@media (max-width: 576px) {
  .container {
    height: 50vh;
  }

  .message-input {
    width: 80%;
  }
}

/* Medium devices (e.g., tablets) */
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    height: 60vh;
  }
}

/* Large devices (e.g., laptops) */
@media (min-width: 768px) {
  .container {
    height: 70vh;
  }
}
