// body {
//     background-color: blueviolet;
   
// }
.container {
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    overflow-y: auto;
}

// .message {
//     border: 1px solid #000000;
//     border-radius: 10%;
//     margin: 2vh 2vh 0 2vh;
// }
.left {
    float: left;
    clear:both;
}

.right {
    float: right;
    clear: both;
}

// #send-container {
//    text-align: center;

// }


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  #chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #chat-window {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }

  #message-box {
    display: flex;
    margin-bottom: 10px;
  }

  .message-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .send-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
  }

//   #message-area {
//     min-height: 200px;
//     border: 1px solid #ccc;
//     border-radius: 3px;
//     padding: 10px;
//     overflow-y: auto;
//   }